@model IEnumerable<Resume.Models.Scholarships>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.info_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.scholarship_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.issue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.issue_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.scholar_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.info_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.scholarship_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.issue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.issue_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.scholar_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.scholar_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.scholar_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.scholar_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
