@model Resume.Models.Certification

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Certification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.info_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.info_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.issue_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.issue_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.institute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.institute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.link)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.cid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
