@model IEnumerable<Resume.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.info_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tech_stack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descritpion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.info_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tech_stack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descritpion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.pid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.pid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.pid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
