@model IEnumerable<Resume.Models.Skills>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.info_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.skill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.info_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.skill)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.skill_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.skill_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.skill_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
